In [41]:
import pandas as pd
from scipy import stats as st
import math
import random

In [2]:
df = pd.read_csv("AB_test_data.csv")

df.head()

  Variant  purchase_TF        date        id
0       A        False  2019-12-26  0x6f9421
1       A        False  2019-08-16  0x59d442
2       A         True  2019-03-18  0x6db8f8
3       A        False  2019-02-13  0x68245d
4       A        False  2019-09-28  0x28566e

## Question 1

In [9]:
# for variant A - what % purchased
p_pop = len(df[(df['Variant'] == "A") & (df['purchase_TF'] == True)]) / len(df[df['Variant'] == "A"])
p_pop

0.15206

In [10]:
# for variant B - what % purchase
p_sam = len(df[(df['Variant'] == "B") & (df['purchase_TF'] == True)]) / len(df[df['Variant'] == "B"])
p_sam

0.1962

In [11]:
# sample size - how many people got variant B
n = len(df[df['Variant'] == "B"])
n

5000

In [16]:
z = (p_sam - p_pop) / math.sqrt( (p_pop*(1-p_pop)) / n )
z

8.692151285198767

In [74]:
alpha = 0.05

z_alpha = st.norm.ppf(1-(alpha/2))

z_alpha

1.959963984540054

In [23]:
z > z_alpha

True

## Question 2

In [73]:
beta = 1-0.8
z_beta = st.norm.ppf(1-beta)
z_beta

0.8416212335729143

In [115]:
mde = (p_sam - p_pop) #/ p_pop

mde

0.04414000000000001

In [69]:
p_hat = (p_sam+p_pop)/2
p_hat

0.17413

In [116]:
n_opt = ((z_alpha*math.sqrt(2*p_hat*(1-p_hat)) + z_beta * math.sqrt(p_pop*(1-p_pop) + p_sam *(1-p_sam)))**2 ) / mde**2

n_opt

1157.4864702340158

In [117]:
# create 10 samples according to size n_opt
samples = []

x=0
while x < 10:
    samples.append(random.sample(df[df['Variant'] == "B"]['id'].tolist(),math.ceil(n_opt)))
    x += 1

In [118]:
# test the samples
list_p_sample = []
list_z = []
list_reject_null = []

for i in samples:
    # subset data to just the samples
    df_sample = df[df['id'].isin(i)]
    
    # calculate p sample
    p_sample = len(df_sample[df_sample['purchase_TF'] == True]) / len(df_sample)
    
    # calculate z
    z = (p_sample - p_pop) / math.sqrt( (p_pop*(1-p_pop)) / math.ceil(n_opt) )
    
    # do i reject the null hypothesis
    reject_null = abs(z) > z_alpha
    
    list_p_sample.append(p_sample)
    list_z.append(z)
    list_reject_null.append(reject_null)
    
df_sampleresults = pd.DataFrame({'Sample_Number': range(0,len(samples)), 
                                 'p_sample': list_p_sample,
                                'z_score': list_z,
                                'reject_null': list_reject_null})

df_sampleresults

   Sample_Number  p_sample   z_score  reject_null
0              0  0.196028  4.166749         True
1              1  0.197755  4.330425         True
2              2  0.190846  3.675720         True
3              3  0.202073  4.739616         True
4              4  0.196028  4.166749         True
5              5  0.205527  5.066968         True
6              6  0.182211  2.857339         True
7              7  0.187392  3.348368         True
8              8  0.183074  2.939177         True
9              9  0.198618  4.412263         True

## Question 3

In [85]:
# establish boundaries
upper_bound = math.log(1/alpha)
lower_bound = math.log(beta)

In [119]:
stopping_iteration = []
stopping_reason = []

for sample_n in samples:
    results = df[df['id'].isin(sample_n)]['purchase_TF'].values

    log_gamma = 0
    count = 0
    while (log_gamma > lower_bound) & (log_gamma < upper_bound):
        if results[count] == True:
            log_gamma = log_gamma + math.log(p_sam / p_pop)
        else:
            log_gamma = log_gamma + math.log( (1-p_sam) / (1-p_pop))

        count += 1

    stopping_iteration.append(count)
    
    if log_gamma < lower_bound:
        stopping_reason.append('Low')
    else:
        stopping_reason.append('High')
    
print(stopping_iteration)
print(stopping_reason)
print(sum(stopping_iteration) / len(stopping_iteration))

[676, 159, 658, 486, 238, 226, 190, 899, 1013, 317]
['High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High', 'High']
486.2